.plenty-tags {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: solid 1px #c3c3c3;
  background-color: #f7f7f7;
}
.plenty-tags:focus {
  outline: none;
}
.plenty-tags.focus .plenty-input {
  display: inline-block;
}
.plenty-tags.focus .tag.active {
  background-color: #0000ff;
}
.plenty-tags .plenty-input {
  display: none;
}
.plenty-tags > ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plenty-tags > ol > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 1px;
  vertical-align: center;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  padding-left: 1px;
  border-left: solid 2px transparent;
}
.plenty-tags > ol > li.lifted .tag {
  visibility: hidden;
}
.plenty-tags > ol > li.append_left {
  border-left: solid 2px purple;
}
.plenty-tags .tag {
  cursor: pointer;
  display: inline-block;
  background-color: #3bc1e0;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  line-height: 28px;
  padding: 0 25px 0 5px;
  margin: 1px;
}
.plenty-tags .tag i {
  position: absolute;
  font-size: 9px;
  font-weight: nornal;
  right: 11px;
  top: 11px;
}
.plenty-tags .tag i:hover {
  color: yellow;
}
.plenty-tags .tag.ui-draggable-dragging {
  border: solid 1px #fff;
  opacity: 0.8;
}
.plenty-tags .tag:focus {
  outline: none;
}
