.plenty-input {
  background-color: #dddddd;
  position: relative;
  width: 150px;
  display: inline-block;
  border-radius: 2px;
}
.plenty-input input[type=text] {
  line-height: 28px;
  color: #444444;
  border: none;
  background: transparent;
  width: 130px;
  height: auto;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.plenty-input input[type=text]:focus {
  outline: none;
}
.plenty-input button {
  background: transparent;
  position: absolute;
  width: 20px;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.plenty-input button:focus {
  outline: none;
}
.plenty-input button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.plenty-input ul {
  overflow: auto;
}
.plenty-input ul li {
  text-decoration: none;
  outline: 0;
  display: block;
}
.plenty-input ul li.active {
  background-color: #428bca;
  color: #fff;
}
